language: generic
sudo: required

services:
  - docker

env:
  global:
    - VERSION=0.17.3

matrix:
  include:
    - env: PYBASEVER=3.6 ARCH=x86_64
    - env: PYBASEVER=3.7 ARCH=x86_64
    - env: PYBASEVER=3.8 ARCH=x86_64

install:
  - docker pull openturns/archlinux-mingw

script:
  - docker run -e MAKEFLAGS='-j2' -v `pwd`:/io openturns/archlinux-mingw /io/run_docker_build.sh ${VERSION} ${PYBASEVER} ${ARCH} `id -u` `id -g`

deploy:
  provider: releases
  api_key:
    secure: nGrpxchY0bW886V/Fl0QKi1kvJekY5lbvoTAbLzyd6fW/twwxlOgY9bmuF07/9e+7QWbZ38dhQMFMCkW0lGKjnw2RPt8g9A4wEWu1jqda6/gWjyNTeZmpp1J81+6hPeSHv9GIUKZPpUevbXV0JfZoXJGkzNfx163xqHdmfjjdPmjpzLxru9BzO0UoP1kUc4QiFpZrWDUnZi0L2iJDAgAFmgLTw9e7uTy/ZrHPm0RhsftsfYjdImquiA3G4P0JL3W7tEwf+A50KAZPzRndDDcrmRHeQ8ezGhSp/x2jXto15fnt1lnSyY7hGuMb7SKWDqv05tqlioqIFNQ6KzVDgDCIP/NCfCDFiwXnCE03vHVTl5cB+tQ3Cxi5MEqZe7By8RBHapJxB42flF2hkGCbP6F3o1lBMtF7TgnrZa54sFmmn/mljXtGv/zKXGoQw4kJTOelld6SNS46vuwrAvr5DVhuZpCLzh3yog2Ugry/u66HclbAkBC3WmygplcdIOOesWw4+907nFknGncrBfUeFCCcO9o76H4pZx0bHG4yZpAHsA+yJSlsOcpExyGUyIhLzpIdoOyiIFpsm9W04RFnmjc+f72ZkX+ZLNES7IP9E5mUCbKBmD6oeepLjKGiAAOufNwSNNzvM4kweTHXNOOViuItyGkDl3bz8HZwtYklpymAE4=
  file_glob: true
  file:
    - ${TRAVIS_BUILD_DIR}/*.zip
  repo: openturns/build-agrum
  skip_cleanup: true
  overwrite: true
  on:
    tags: true
